.section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  width: 100rem;
  margin: auto;
  width: 80%;
  padding: 5px;
  margin-top: 5rem;
  background-color: #e2e8f0;
}

.section > .leftText {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  line-height: 4rem;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: center;
  padding-left: 3rem;
}

.txtBody {
  font-size: 4em;
  margin-bottom: 1em;
  line-height: normal;
  margin-top: 20px;
}

.moveTxt {
  font-size: 4rem;
  width: 100%;
  font-weight: 700;
  color: #516e6b;
}

.descriptionTxt {
  font-size: 1.3rem;
  margin-top: -4rem;
  line-height: 2;
  color: #516e6b;
  font-weight: 400;
}

.section > .rightImg {
  display: flex;
  justify-content: flex-end;
  height: 20rem;
  width: 50%;
  align-items: center;
  margin-left: 7rem;
  position: absolute;
}

/* Media query for screens smaller than 768px (tablets) */
@media only screen and (max-width: 768px) {
  .section {
    flex-direction: column;
    margin-top: 3rem;
  }

  .section > .left-text {
    width: 100%;
    margin-bottom: 5rem;
  }

  .section > .right-img {
    display: flex;
    align-items: ;
    height: auto;
    width: 100%;
    display: none;
  }

  .btn1 {
    padding: 0.1rem 6rem;
  }
}

/* Media query for screens smaller than 576px (mobile devices) */
@media only screen and (max-width: 576px) {
  .section > .left-text {
    line-height: 3rem;
    margin-bottom: 3rem;
  }

  .vpn {
    font-size: 3em;
  }

  .h1-eng {
    font-size: 2.5rem;
  }

  .btn1 {
    padding: 0.1rem 4rem;
    font-size: 1rem;
  }
}
