.btnBar {
  margin-top: 1rem;
}

/* .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
/*
button {
  padding: 10px 20px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  border: 1px solid black;
  width: 9.5rem;
} */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: gainsboro;
  color: black;
  cursor: pointer;
  width: 9.2rem;
  border: 1px solid black;
}

.btn1 {
  border-radius: 10px 0 0 10px;
}

.btn10 {
  border-radius: 0 10px 10px 0;
}
@media (max-width: 768px) {
  button {
    margin: 5px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  button {
    margin: 2px;
    padding: 5px 10px;
    font-size: 14px;
  }
}
