.expand {
  height: 5rem;
}

.navbar {
  background-color: #1f232f;
}

.logo {
  position: absolute;
  border-radius: 1rem;
  padding: 2.5rem;
  margin-top: -2rem;
  color: white;
  background-color: #1f232f;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
